* {
    margin: 0%;
    padding: 0%;
}

body {
    background: black;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 30px auto;
    border: 2px solid white;
    background: url("img/back3.jpg");
    background-size: 100% 100%;
    background-position: center;
}

#play {
    height: 4vh;
    width: 6%;
    min-width: 100px;
    position: relative;
    border: white 3px solid;
    border-radius: 3px;
    background-image: linear-gradient(blueviolet, red);
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    padding: 1%;
    text-align: center;
    margin: 70px auto;
}

#Textbox {
    height: 5vh;
    width: 100%;
    position: absolute;
    background-color: yellowgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 1%;
}

#inputBox {
    height: 5vh;
    width: 70%;
    margin: 40px auto;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 25px;
}

#write {
    height: 4vh;
    width: 60%;
    margin: 40px auto;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

/* ------------------------- DR STRANGE --------------------------------- */
#drStrange {
    height: 30vh;
    width: 30%;
    position: absolute;
    background-image: url('img/strange.png');
    background-size: 100% 100%;
    background-position: center;
    bottom: 5%;
    left: -5%;
    animation: realism 1s linear infinite;
    transition: 1s;
}

@keyframes realism {
    0% {
        bottom: 5%;
    }

    50% {
        bottom: 6%;
    }

    100% {
        bottom: 5%;
    }
}

@keyframes magic {
    0% {
        background-image: url('img/strange.png');
    }

    8% {
        background-image: url('img/strange.png');
    }

    10% {
        background-image: url('img/strange1.png');
    }

    12% {
        background-image: url('img/strange3.png');
    }

    16% {
        background-image: url('img/strange4.png');
    }

    20% {
        background-image: url('img/strange2.png');
    }

    24% {
        background-image: url('img/strange3.png');
    }

    28% {
        background-image: url('img/strange4.png');
    }

    32% {
        background-image: url('img/strange2.png');
    }

    36% {
        background-image: url('img/strange3.png');
    }

    40% {
        background-image: url('img/strange4.png');
    }

    44% {
        background-image: url('img/strange2.png');
    }

    48% {
        background-image: url('img/strange3.png');
    }

    52% {
        background-image: url('img/strange4.png');
    }

    56% {
        background-image: url('img/strange2.png');
    }

    60% {
        background-image: url('img/strange3.png');
    }

    64% {
        background-image: url('img/strange4.png');
    }

    68% {
        background-image: url('img/strange2.png');
    }

    72% {
        background-image: url('img/strange3.png');
    }

    76% {
        background-image: url('img/strange4.png');
    }

    80% {
        background-image: url('img/strange2.png');
    }

    84% {
        background-image: url('img/strange1.png');
    }

    82% {
        background-image: url('img/strange.png');
    }

    100% {
        background-image: url('img/strange.png');
    }
}

@keyframes damage {
    0% {
        background-image: url('img/strange.png');
    }

    4% {
        background-image: url('img/strange1.png');
        transform: rotate(-10deg);
    }

    18% {
        background-image: url('img/strange1.png');
        transform: rotate(-10deg);
    }

    20% {
        background-image: url('img/strange.png');
    }
}

/* --------------- EYE GUY ---------------------------------------- */
#eyeGuy {
    height: 40vh;
    width: 40%;
    position: absolute;
    background-image: url('img/eye1.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    left: 60%;
    bottom: 0%;
    animation: eyeThrowBus 8s linear infinite;
    transition: 0.5s;
    z-index: 1;
}

@keyframes eyeThrowBus {
    0% {
        background-image: url('img/eye1.png');
    }

    10% {
        background-image: url('img/eye1.png');
        transform: rotate(10deg);
    }

    18% {
        background-image: url('img/eye1.png');
        transform: rotate(10deg);
    }

    20% {
        background-image: url('img/eye2.png');
        transform: rotate(-10deg);
    }

    30% {
        background-image: url('img/eye2.png');
    }

    90% {
        background-image: url('img/eye2.png');
    }

    100% {
        background-image: url('img/eye1.png');
    }
}

/* ----------------- PORTALS -----------------------------*/
#portal1 {
    height: 30vh;
    width: 5%;
    position: absolute;
    border-radius: 100px;
    left: 22%;
    bottom: 8%;
    background-image: url("img/portal.png");
    background-repeat: no-repeat;
    animation: portalopen 0.5s linear 1;
    transition: 1s;
}

#portal3 {
    height: 30vh;
    width: 5%;
    position: absolute;
    border-radius: 100px;
    left: 57%;
    bottom: 50%;
    animation: portal1 1s linear 1;
    background-image: url("img/portal.png");
    background-repeat: no-repeat;
    transform: rotate(44deg);
    animation: portalopen 0.5s linear 1;
    transition: 1s;
}

@keyframes portalopen {
    0% {
        background-position: -24px 51px;
        background-size: 95px 69px;
    }

    100% {
        background-position: -25px -70px;
        background-size: 100px 280px;
    }
}

#portal2 {
    height: 30vh;
    width: 5%;
    position: absolute;
    border-radius: 100px;
    background-image: url("img/portal.png");
    background-position: -25px -70px;
    background-size: 100px 280px;
    background-repeat: no-repeat;
    left: 22%;
    bottom: 8%;
    animation: giggle 0.2s linear infinite;
    transition: 0.5s;
}

@keyframes giggle {
    0% {
        bottom: 50px;
    }

    5% {
        bottom: 40px;
    }

    10% {
        bottom: 50px;
    }
}

#portal4 {
    height: 30vh;
    width: 5%;
    position: absolute;
    border-radius: 100px;
    background-image: url("img/portal.png");
    background-position: -25px -70px;
    background-size: 100px 280px;
    background-repeat: no-repeat;
    left: 57%;
    bottom: 50%;
    transform: rotate(44deg);
    animation: giggle2 0.2s linear infinite;
    transition: 0.5s;
}

@keyframes giggle2 {
    0% {
        bottom: 50%;
    }

    5% {
        bottom: 51%;
    }

    10% {
        bottom: 50%;
    }
}

/* ----------------- BUS -----------------------------*/
#bus {
    position: absolute;
    background-image: url('img/bus.png');
    background-size: contain;
    background-repeat: no-repeat;
    left: 100%;
    bottom: 0%;
    animation: ThrowBus 8s linear infinite;
}

@keyframes ThrowBus {
    0% {
        height: 15vh;
        width: 20%;
        left: 100%;
        bottom: 0%;
    }

    10% {
        left: 80%;
        bottom: 0%;
    }

    18% {
        left: 80%;
        bottom: 30%;
        transform: rotate(0deg);
    }

    20% {
        left: 50%;
        bottom: 20%;
    }

    60% {
        left: 20%;
    }

    70% {
        left: -100%;
        transform: rotate(-30deg);
    }

    100% {
        height: 15vh;
        width: 20%;
        left: -100%;
        transform: rotate(-30deg);
        bottom: 20%;
    }
}

#bus2 {
    height: 15vh;
    width: 20%;
    position: absolute;
    background-image: url('img/bus.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(218deg);
    transition: 0.5s;
    animation: portal4Bus 0.5s linear 1;
    opacity: 0;
}

@keyframes portal4Bus {
    0% {
        left: 60%;
        bottom: 50%;
        height: 10vh;
        width: 20%;
        opacity: 1;
    }

    100% {
        left: 80%;
        bottom: 0%;
        height: 30vh;
        width: 20%;
        opacity: 1;
    }
}

/* ----------------- Healths -----------------------------*/
.health {
    height: 4vh;
    width: 17%;
    position: absolute;
    border: 2px black solid;
    border-radius: 10px;
    bottom: 80%;
}

#health1 {
    left: 5%;
}

#health2 {
    left: 80%;
}

.health::-webkit-progress-value {
    background-color: orangered;
}

.hide {
    display: none;
}

/* ---------- For SmartPhones --------------------*/
@media screen and (max-width:601px) {
    #container {
        margin: auto;
        width: 99%;
        height: 70vh;
    }

    #drStrange {
        height: 15vh;
        width: 30%;
    }

    #eyeGuy {
        height: 25vh;
        width: 50%;
        animation: eyeThrowBus 8s linear infinite;
    }

    #bus {
        animation: ThrowBusForAndroid 8s linear infinite;
    }

    #portal1 {
        height: 27vh;
        width: 10%;
    }

    #portal2 {
        height:27vh;
        width: 10%;
    }

    #portal3 {
        height: 27vh;
        width: 10%;
    }

    #portal4 {
        height:27vh;
        width: 10%;
    }

    #write {
        height: 3vh;
        width: 50%;
        font-size: 12px;
    }

    #Textbox {
        font-size: 12px;
        height: 4vh;
    }

    #play {
        font-size: 12px;
    }
}

@keyframes ThrowBusForAndroid {
    0% {
        height: 15vh;
        width: 20%;
        left: 100%;
        bottom: 0%;
    }

    10% {
        left: 80%;
        bottom: 0%;
    }

    18% {
        left: 80%;
        bottom: 0%;
        transform: rotate(0deg);
    }

    20% {
        left: 50%;
        bottom: 10%;
    }

    60% {
        left: 20%;
    }

    70% {
        left: -200%;
        transform: rotate(-30deg);
    }

    100% {
        height: 15vh;
        width: 20%;
        left: -500%;
        transform: rotate(-30deg);
        bottom: 10%;
    }
}
